# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/
.ENV/

# VSCode settings (if you use it)
.vscode/

# Python packaging artifacts
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other typical Python stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd

# System files
.DS_Store
Thumbs.db
